<div class="container">

        <h1>Following request response</h1>
        <p><a href="https://twitter.com/following" target="_blank">Check in your profile.</a></p>
        <pre>
<%= @info %>
        </pre>

</div> <!-- /container -->


