<div class="container">

        <h1>Choose one of the awesome features:</h1>
        <ul>
            <li><a href="/awesome_features/follow">Follow @<%= @account %></a></li>
            <li><a href="/awesome_features/info">See your info</a></li>
        </ul>

</div> <!-- /container -->

