<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
        <h1>Sign in with Twitter</h1>
        <p>Try to access the awesome features.</p>

</div> <!-- /container -->

